{% extends "base.html" %}

{% block title %}{{ super() }} - My Projects{% endblock %}

{% block content %}
    <div class="container">
        <h1>My Projects</h1>
        <a href="https://github.com/Marvelrex/FlyBattle.git">JAVA---Fly Battle</a><br>
        <a href="https://github.com/Marvelrex/MusicBox.git">HTML---Music Box</a><br>
        <a href="https://github.com/AloysPortafaix/COMP345_team10.git">C++---Board Game</a><br>
        <a href="https://github.com/Marvelrex/FrontBackendsANDDatabase.git">Front Back Ends Connected To Database</a><br>
    </div>
{% endblock %}